{
    "CONSUMER_KEY"           :    "your CONSUMER_KEY",
	"CONSUMER_SECRECT"       :    "your CONSUMER_SECRECT",
	"ACCESS_TOKEN"           :    "your ACCESS_TOKEN",
	"ACCESS_TOKEN_SECRECT"   :    "your ACCESS_TOKEN_SECRECT"
}